BagSlua/Library
BagSlua/ProjectSettings
BagSlua/Temp
BagSlua/UnityPackageManager
BagSlua/.vs/
BagSlua/Assembly-CSharp-Editor-firstpass.csproj
BagSlua/Assembly-CSharp-Editor.csproj
BagSlua/Assembly-CSharp-firstpass.csproj
BagSlua/Assembly-CSharp.csproj
BagSlua/BagSlua.sln
BagSlua/obj/

jishu/23hchg/Library
jishu/23hchg/ProjectSettings
jishu/23hchg/Temp
jishu/23hchg/UnityPackageManager
jishu/23hchg/.vs/
jishu/23hchg/Assembly-CSharp-Editor-firstpass.csproj
jishu/23hchg/Assembly-CSharp-Editor.csproj
jishu/23hchg/Assembly-CSharp-firstpass.csproj
jishu/23hchg/Assembly-CSharp.csproj
jishu/23hchg/23hchg.sln
jishu/23hchg/obj/
